.footer{
    background-color: #4A4A4A;
    width:100%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer p{
    color: var(--white)
}
.navbars a{
    color: var(--white) 
 
}
.navbars span{
    padding:1rem
}
.navbars{
    display: flex;
    justify-content: center;
    align-items:center
}
.content{
    margin: 1.9rem
}