:root{
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    --white: #f4f4f4;
    --red: #f40000; 
}

body{
    margin: 0 auto;
    padding: 0;
}
a{
    text-decoration: none;
}
