.header{
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 1;
    background-color:white;
}
.links{
    margin-top: 1rem;
    line-height: 2rem;
    color: #333333;
    font-size: 1.2rem;
    
}
.navegacion{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.navegacion a{
    padding: 1rem;
}
.navegacion span:hover{
    border-bottom: 2.5px solid var(--red);
}
.prueba{
    
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top:0;
    position:fixed;
    width: 100%;
    background-color: white;
}


