.video{
    object-fit: cover;
    width: 100%;
    height:30rem;
    position: relative
}
.title{
    position: absolute;
    margin-top: -13.8rem;
    margin-left: 23rem;
    color: var(--white);
    font-size: 4rem; 
    font: bold;
    
}
.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#E0E0E0;
    width: 100%;
  
}
.navbarFixed{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#E0E0E0;
    width: 100%;
    height:4rem;
    position: fixed;
    top:0;
    z-index: 2;
}
.navbar a{
    font-size: 1rem;
    padding:1rem;
    color: #333333;
}
.navbarFixed a{
    font-size: 1rem;
    padding:1rem;
    color: #333333;
}
.navbar span:hover{
    font-weight: bold;
    border-bottom: 2.5px solid var(--red);
}
.navbarFixed span:hover{
    font-weight: bold;
    border-bottom: 2.5px solid var(--red);
}
.paragraph{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2rem 20rem;
    line-height:1.5rem;
}
.paragraph p{
    margin:0;
}
.contentSection, .comunidades, .contentNatural, .contentWater{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.comunidades, .contentNatural, .contentWater{
    margin-top: 2.5rem;
}
.contentWater{
    line-height:0
}
.texts{
    padding:4rem 2rem 0 15rem;
    line-height:1.5rem;
}
.textNatural{
    padding:7rem 2rem 0 15rem;
    line-height:1.5rem;
}
.textWater{
    padding:7rem 0rem 0 .5rem;
    line-height:1.5rem;
}
.texts, .textComunity, .contentNatural h3{
    margin: 0;
}
.texts, .textComunity, .contentNatural p{
    margin: 0;
}
.textComunity{
    padding:5rem 15rem 0 7rem;
    line-height:1.5rem;
}
.waterImage{
    padding: 0 3.5rem 3.5rem 3.5rem
}
